<% layout('layouts/boilerplate') %>

<div class="row mt-4">
  <h3 class="mb-4">All Listings</h3>

  <% for(let listing of listings) { %>
    <div class="col-md-4 mb-4">
      <div class="card h-100">

        <img 
          src="<%= listing.image.url %>" 
          class="card-img-top" 
          alt="listing_image"
          style="height: 250px; object-fit: cover;"
        />

        <div class="card-body">
          <h5 class="card-title">
            <%= listing.title %>
          </h5>

          <p class="card-text">
            ₹ <%= listing.price.toLocaleString("en-IN") %>
          </p>

          <a href="/listings/<%= listing._id %>" 
             class="btn btn-dark">
             View Details
          </a>
        </div>

      </div>
    </div>
  <% } %>
</div>